<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<span class="post-meta">
				<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="YYYY-MM-DD"}}</time>
				<span>&nbsp;&nbsp;</span>
				{{tags separator="｜" prefix="# "}}
			</span>
			<p class="post-excerpt">{{excerpt}}&hellip;</p>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
